<div id="content">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/layout_img/g1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/layout_img/g10.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/layout_img/g12.jpg" class="d-block w-100" alt="...">
        </div>
        <!-- Ajout de nouveaux carousel-items ici -->
        <div class="carousel-item">
          <img src="assets/images/layout_img/team1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/layout_img/team2.jpg" class="d-block w-100" alt="...">
        </div>
        <!-- ... -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="panel post">
      <a href="javascript:void();"><span>8 </span>Posts</a>
    </div>
    <div class="panel users">
      <a href="javascript:void();"><span>{{ teamCount }}</span> Teams</a>
    </div> 
    <div class="panel page">
      <a href="javascript:void();"><span>5 </span>Pages</a>
    </div>
    <div class="panel user">
      <a href="javascript:void();"><span>{{ employeeCount }}</span> Employees</a>
    </div> 

  </div>
  
<div class="wrap">
<div class="col-6">
  <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7172925065297027072" height="900" width="50%" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
</div>
<div class="col-6">
  <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7157755041703964673" height="900" width="50%" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
</div>
<div class="col-6">
  <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7127353832182816768" height="634" width="504" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
</div>
</div>
